<html>

<head>
  <title>StarFit&trade;</title>
  <link rel="stylesheet" type="text/css" href="../../index.css">
  <link href='https://fonts.googleapis.com/css?family=Exo+2:300,100' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="contentWrapper">
    <div id="starfit">
      <a class="title" href="/index.html">STARFIT</a>
    </div>

    {% block content %}
    {% endblock content %}

    <br />
    <br />
    <center>
      <a href="https://www.monash.edu/science/schools/physics"><img src="images/Monash_University_logo.svg" width="120px"></a>
      &nbsp;
      <a href="https://adacs.org.au"><img src="images/adacs_logo_dark.svg" width="120px"></a>
      <br />
      <a href="http://2sn.org/starfit/">Science Team</a>
    </center>
  </div>
</body>

</html>
