Search method: {{ config.get_algorithm_description() }}<br />
Match elements: up to Z={{ config.z_max }}<br />
Combined element abundances: {{ config.combine_elements_str() }}<br />
Model database: {{ config.database }}<br />

Dilution factors:
{% if config.fixed %}
Fixed
{% else %}
Free
{% endif %}
<br />

Upper limit treatment:
{% if config.cdf %}
Cumulative distribution function
{% else %}
One-sided chi-squared
{% endif %}
<br />

{% if config.algorithm == "ga" %}
<br />
Genetic algorithm parameters:<br />
Population size: {{ config.pop_size }}<br />
Time limit: {{ config.time_limit }}<br />
Gene size: {{ config.sol_size }}<br />
{% endif %}
