<html>

<head>
  <title>StarFit&trade;</title>
  <link rel="stylesheet" type="text/css" href="../../index.css">
  <link href='https://fonts.googleapis.com/css?family=Exo+2:300,100' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="contentWrapper">
    <div id="starfit">
      <a class="title" href="/index.html">STARFIT</a>
    </div>

    {% if config.errors %}
      {% for line in config.errors %}
        {{ line }} <br />
      {% endfor %}
    {% elif config.mail %}
      Results will be mailed to {{ config.email }} {{ config.time_eta }}
    {% else %}
      {% include 'results.html.jinja' %}
      {% block results %}
      {% endblock %}
    {% endif %}

    <br />
    <br />
    <center>
      <a href="https://moca.monash.edu/"><img src="../../images/mocalogo.png" width="120px"></a>
      <br />
      <a href="https://2sn.org/starfit/">Science Team</a>
    </center>
  </div>
</body>

</html>
