html,
body {
    background-color: #00284F;
}

table {
    table-layout: fixed;
    width: 800px;
}

table.inputs {
    table-layout: fixed;
    width: 600px;
}

td {
    overflow: hidden;
    padding: 5px;
}

th {
    overflow: hidden;
    padding: 5px;
}

td.c1 {
    width: 380px;
}

td.c2 {
    width: 220px;
}

td.resultsHead {
    padding: 0px;
    text-align: right;
    font-weight: 500;
}

td.resultsRow {
    padding: 0px;
    text-align: right;
    color: #00284F;
}

td.DBNum, td.DBHeadNum {
    padding: 0px;
    padding-right: 10px;
    text-align: right;
    width: 5%;
}

td.DBName, td.DBHeadName {
    padding: 0px;
    padding-right: 10px;
    text-align: left;
    width: 10%;
}

td.DBText,td.DBHeadText {
    padding: 0px;
    text-align: left;
    width: 80%;
}

td.DBNum, td.DBName, td.DBText {
    color: #00284F;
    font-weight: 500;
}

a {
    color: inherit;
}

#contentWrapper {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 900px;
    padding: 10px;
    padding-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

#versionWrapper {
    text-align: center;
}

#textWrapper {
    text-align: left;
}

#starfit {
    font-size: 120px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #00284F;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    z-index: 2;
}

a.title {
    color: inherit;
    text-decoration: none;
}

#testing {
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: crimson;
    margin-top: -70px;
    z-index: 1;
    -webkit-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
}

a.subtitle {
    color: inherit;
    text-decoration: none;
    margin-left: 300px;
}

#form {
    margin: 0 auto;
    width: 850px;
}

#results {
    text-align: left;
}

#run {
    width: 850px;
}

#processing {
    display: none;
    height: 100vh;
    width: 99vw;
    position: fixed;
    top: 0;
    background-color: #00284F;
}

#processing-popup {
    display: table;
    background-color: #FFFFFF;
    margin: 22% auto;
    width: 500px;
    height: 100px;
    padding: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    text-align: center;
}

.ifGa {
    display: none;
}

.ifNotSingle {
    display: none
}

#loadingCircle {
    display: table;
    margin: auto;
}

span.method {
    color: #0000FF;
    font-weight: 400;
    font-family: "Courier New", Courier, monospace;
}

span.star {
    color: #009F00;
    font-weight: 400;
    font-family: "Courier New", Courier, monospace;
}

span.output {
    color: #00284F;
    font-weight: 400;
    font-family: "Courier New", Courier, monospace;
}

span.section {
    color: #000000;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}

span.warn {
    color: #bf0000;
    font-weight: 500;
    font-family: inherit
}

.row {
    display: flex;
    column-gap: 32px
}

.column {
  float: left;
}

.left {
  width: 75%;
}

.right {
    width: 25%;
}
