<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="default-src https:; object-src 'self' data:; img-src 'self' data:">
  <title>StarFit&trade;</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link href='https://fonts.googleapis.com/css?family=Exo+2:300,100' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
</head>

<body>
  <div id="contentWrapper">
    <div id="starfit">
      <a class="title" href="/">STARFIT</a>
    </div>

    {% block content %}
    {% endblock content %}

    <br />
    <br />
    <center>
      <a href="https://www.monash.edu/science/schools/physics"><img src="images/Monash_University_logo.svg" width="120px"></a>
      &nbsp;
      <a href="https://adacs.org.au"><img src="images/adacs_logo_dark.svg" width="120px"></a>
      <br />
      <a href="https://github.com/conradtchan/starfit">GitHub</a> | <a href="https://pypi.org/project/starfit/">Python Package</a> | <a href="http://2sn.org/starfit/">Science Team</a>
    </center>
  </div>
</body>

<footer>
  <div id="processing">
    <div id="processing-popup">
      Processing, please wait....
      <br />
      <br />
      <img class="loadingCircle" src="images/loading.gif" width="50px"></img>
    </div>
  </div>
</footer>

</html>
