{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="scripts.js" type="text/javascript"></script>

<div id="versionWrapper">
<span class="section">Version:</span> {{ starfit_version }}
<br />
<br />
</div>

<div id="form">
  <form name="GAform" action="run" method="POST" enctype="multipart/form-data">
    <span class="section">Star</span>
    <table class="inputs">
      <tr>
        <td class="c1">
          <a href="/info/stellar-data" target="_blank">Stellar data</a>
        (default <select id="star-dropdown" name="stardefault">
            {% for star in starlist %}
            <option value="{{ star }}"
		    {% if star == star_select %} selected {% endif %}
		    >{{ starlist[star] }}</option>
            {% endfor %}
          </select>)
        </td>
        <td>
          <input name="stardata" type="file">
        </td>
      </tr>
    </table>
    <br />
    <div class="row">
      <div class="column">
    <span class="section">Algorithm</span>
    <table class="inputs">
      <tr>
        <td colspan="2">
          <input class="algoButton" type="radio" name="algorithm" value="single" id="single"
                 checked="checked">Single Star
          <input class="algoButton" type="radio" name="algorithm" value="ga" id="ga">Genetic
          Algorithm
          <input class="algoButton" type="radio" name="algorithm" value="multi" id="multi">Complete Multistar
          Search (expert)
        </td>
      </tr>
    </table>
    <div class="ifGa">
      <table class="inputs">
        <tr>
          <td class="c1">
            <a href="/info/time-limit" target="_blank">Time limit</a> (s)
          </td>
          <td class="c2">
            <input name="time_limit" type="number" min="1" max="60" value="5" />
          </td>
        </tr>
        <tr>
          <td >
            <a href="/info/generations" target="_blank">Generations</a>
          </td>
          <td >
            <input name="gen" type="number" min="100" max="10000" value="1000" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/population-size" target="_blank">Population size</a>
          </td>
          <td>
            <input name="pop_size" type="number" min="20" max="1000" value="200" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/population-size" target="_blank">Gene size</a> (number of stars)
          </td>
          <td>
            <input name="sol_size" type="number" min="1" max="9" value="2" />
          </td>
        </tr>
	<tr>
          <td>
            <a href="/info/spread" target="_blank">Spread</a>
            (expert)
          </td>
          <td>
            <input type="checkbox" name="spread" value="True" checked>
          </td>
	</tr>
        <tr>
          <td>
            <a href="/info/pin" target="_blank">Group</a> (expert)<br />
            &#x2022; 0-based database index<br />
	    &#x2022; separate group members by comma<br />
	    &#x2022; separate groups by semicolon
          </td>
          <td>
            <input type="text" name="group" value="" placeholder="example: 0; 1, 2">
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/pin" target="_blank">Pin</a>
	    (expert)<br />
	    (separate pins by semicolon)
          </td>
          <td>
            <input name="pin" type="text" value="" placeholder="example: 1; 1" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/tour-size" target="_blank">Tournament Size</a> (expert)
          </td>
          <td>
            <input name="tour_size" type="number" min="2" max="9" value="2" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/frac-mating" target="_blank">Fraction mating
            pool (%)</a> (expert)
          </td>
          <td>
            <input name="frac_mating_pool" type="number" min="0" max="100" value="100" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/frac-elite" target="_blank">Fraction elite
            (%)</a> (expert)
          </td>
          <td>
            <input name="frac_elite" type="number" min="0" max="100" value="50" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/mut-rate-index" target="_blank">Mutation rate index
            (%)</a> (expert)
          </td>
          <td>
            <input name="mut_rate_index" type="number" min="0" max="100" value="20" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/mut-rate-offset" target="_blank">Mutation rate offset
            (%)</a> (expert)
          </td>
          <td>
            <input name="mut_rate_offset" type="number" min="0" max="100" value="10" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/mut-offset-magnitude"
            target="_blank">Mutation offset magnitude
            (%)</a> (expert)
          </td>
          <td>
            <input name="mut_offset_magnitude" type="number" min="0" max="200" value="100" />
          </td>
        </tr>
	<tr>
          <td>
            <a href="/info/local-search" target="_blank">Local search</a>
            (expert, recommended)
          </td>
          <td>
            <input type="checkbox" name="local_search" value="True"
            checked>
          </td>
	</tr>
      </table>
    </div>
    <div class="ifMulti">
      <table class="inputs">
        <tr>
          <td class="c1">
            <a href="/info/group" target="_blank">Number(s) of stars</a>
	    (expert)<br />
	    (separate groups by semicolon)
          </td>
          <td class="c2">
            <input name="sol_sizes" type="text" value="" placeholder="example: 1; 1" />
          </td>
        </tr>
        <tr>
          <td>
            <a href="/info/group" target="_blank">Group</a> (expert)<br />
            &#x2022; 0-based database index<br />
	    &#x2022; separate group members by comma<br />
	    &#x2022; separate groups by semicolon
          </td>
          <td>
            <input type="text" name="group" value="" placeholder="example: 0; 1, 2">
          </td>
        </tr>
      </table>
    </div>
    <br />
    <span class="section">Fitting</span>
    <table class="inputs">
      <tr>
        <td class="c1">
          <a href="/info/model-limits" target="_blank">Model lower limits</a><br />
          (comma-separated list of elements)
        </td>
        <td class="c2">
          <input type="text" name="z_lolim" maxlength="100" value="Sc, Cu" placeholder="Unobtainium, Kryptonite"><br>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/combine-elements" target="_blank">Combine elements</a>
        </td>
        <td>
          <select name="combine_mode">
            <option value="0" checked="checked">None</option>
            <option value="1">C+N</option>
            <option value="2">C+N+O</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/z-limits" target="_blank">Fit element range</a><br />
          (element symbol, name, or charge number)
        </td>
        <td>
          <input type="text" name="z_min" value="H" placeholder="Hydrogen" size="6" maxlength="12" />
	  &mdash;
          <input type="text" name="z_max" value="Zn" placeholder="Uranium" size="6" maxlength="12" />
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/exclude-elements" target="_blank">Exclude elements</a><br />
          (comma-separated list of elements)
        </td>
        <td>
          <input type="text" name="z_exclude" value="Li, Cr, Zn"
          placeholder="Tc, Pm, Po" ><br>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/upper-limits" target="_blank">Upper limits</a>
        </td>
        <td>
          <input type="checkbox" name="upper_lim" value="true" checked>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/detection-thresholds" target="_blank">Detection thresholds</a> (experimental)
        </td>
        <td>
          <input type="checkbox" name="det" value="True">
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/error-covariances" target="_blank">Error covariances</a> (experimental)
        </td>
        <td>
          <input type="checkbox" name="cov" value="True">
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/cdf" target="_blank">Cumulative distribution
          function (CDF)</a> (recommended)
        </td>
        <td>
          <input type="checkbox" name="cdf" value="true" checked>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/limit-solver" target="_blank">Limit solver</a> (expert, recommended)
        </td>
        <td>
          <input type="checkbox" name="limit_solver" value="True" checked>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/info/limit-solution" target="_blank">Limit solution</a> (expert, recommended)
        </td>
        <td>
          <input type="checkbox" name="limit_solution" value="True" checked>
        </td>
      </tr>
    </table>
    <div class="ifNotSingle">
      <table class="inputs">
        <tr>
          <td class="c1">
            <a href="/info/fixed-offsets" target="_blank">Fixed offsets</a> (expert)
          </td>
          <td>
            <input type="checkbox" name="fixed" value="True">
          </td>
        </tr>
      </table>
    </div>
    <br />
    <span class="section">Output</span>
    <table class="inputs">
      <tr>
        <td class="c1">
          Email (necessary for jobs longer than 1 minute)<br />
          Includes data for plots.
        </td>
        <td class="c2">
          <input name="email" type="text" placeholder="help@starfit.org"/>
        </td>
      </tr>
      <tr>
        <td>
          Plot format
        </td>
        <td>
          <select name="plotformat">
            <option value="png">PNG</option>
            <option value="svg" selected>SVG</option>
            <option value="pdf">PDF</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          y-axis
        </td>
        <td>
          <select name="yscale">
            <option value="1">log eps</option>
            <option value="2" selected>[X]</option>
            <option value="3">[X/Fe]</option>
            <option value="4">log(X/Si)+6</option>
            <option value="5">log(Y)</option>
            <option value="6">[X/H]</option>
            <option value="7">(X/Si)*1e6</option>
          </select>
        </td>
      </tr>
    </table>
      </div>
      <div class="column">
	<center>
        <span class="section"><a href="/data/db/databases" target="_blank">Model database</a></span>
	<br /><span class="warn">(required)</span>
	</center>
	<br />
        <select id="db-dropdown" name="database" size="{{ db_listing_size }}"
		multiple>
            {% for db in dblist %}
            <option value="{{ db }}"
		    {% if db == db_select %} selected {% endif %}
		    >{{ dblist[db] }}</option>
            {% endfor %}
          </select>
      </div>
    </div>
    <br />
    <br />
    <input type="submit" id="run" value="Run">
  </form>
</div>
{% endblock content %}
