Search method:
<span class="method">
  {{ config.algorithm_description }}
</span>
<br />

{% if config.matched_elements_string != "" %}
Matched elements:
<span class="method">
{{ config.matched_elements_string }}
</span>
<br />
{% endif %}

{% if config.combined_elements_string != "" %}
Combined element abundances:
<span class="method">
  {{ config.combined_elements_string }}
</span>
<br />
{% endif %}

{% if config.lolim_string != "" %}
Model lower limits:
<span class="method">
  {{ config.lolim_string }}
</span>
<br />
{% endif %}

{% if config.upper_limits_string != "" %}
Included upper limits:
<span class="method">
  {{ config.included_upper_limits_string }}
</span>
<br />
{% endif %}

{% if config.exclude_string != "" %}
<span class = "ignored">
  Excluded elements:
</span>
<span class="ignored_method">
  {{ config.exclude_string }}
</span>
<br />
{% endif %}

{% if config.ignored_string != "" %}
<span class = "ignored">
  Ignored elements:
</span>
<span class="ignored_method">
  {{ config.ignored_string }}
</span>
<br />
{% endif %}

{% if config.upper_exclude_string != "" %}
<span class = "ignored">
  Ignored upper limits:
  </span>
<span class="ignored_method">
  {{ config.upper_exclude_string }}
</span>
<br />
{% endif %}

{% if config.n_database == "1" %}
Model database:
<span class="method">
{{ config.database_string }}
</span>
<br />
{% endif %}

{% if config.algorithm != "single" %}
Dilution factors:
<span class="method">
{% if config.fixed %}
Fixed
{% else %}
Free
{% endif %}
</span>
<br />
{% endif %}

{% if config.star_detection_thresholds != "" or config.upper_limits_string != "" %}
Limit treatment:
<span class="method">
{% if config.cdf %}
Cumulative distribution function
{% else %}
One-sided &#x1D6D8;&sup2;
{% endif %}
</span>
<br />
{% endif %}

{% if config.star_detection_thresholds != "" %}
Detection thresholds:
<span class="method">
{% if config.det %}
{{ config.text_detection_thresholds }}
{% else %}
Ignored
{% endif %}
</span>
<br />
{% endif %}

{% if config.star_covariances != "" %}
Error covariances:
<span class="method">
{% if config.cov %}
{{ config.text_covariances }}
{% else %}
Ignored
{% endif %}
</span>
<br />
{% endif %}

Limit solver:
<span class="method">
{% if config.limit_solver %}
&#x2713;
{% else %}
Each contribution may exceed 100 %
{% endif %}
</span>
<br />

Limit solution:
<span class="method">
{% if config.limit_solution %}
&#x2713;
{% else %}
Total may exceed 100 %
{% endif %}
</span>
<br />

{% if config.algorithm == "ga" %}
<br />
 <span class="section">Genetic algorithm parameters:</span>
<br />

Population size:
<span class="method">
  {{ config.pop_size }}
</span>
<br />

Time used:
<span class="method">
  {{ config.text_time }}
</span>
<br />

Gene size:
<span class="method">
  {{ config.sol_size }}
</span>
<br />

Generations
<span class="method">
  {{ config.text_generations }}
</span>
<br />

Spread search:
<span class="method">
  {% if config.spread %}
&#x2713;
{% else %}
No
{% endif %}
</span>
<br />

{% if config.group_string != "" %}
Groups:
<span class="method">
  {{ config.group_string }}
</span>
<br />
{% endif %}

{% if config.pin_string != "" %}
Pin:
<span class="method">
  {{ config.pin_string }}
</span>
<br />

Pin totals:
<span class="output">
  {{ config.pinning_string }}
</span>
<br />
{% endif %}

Tournament size:
<span class="method">
  {{ config.text_tour_size }}
</span>
<br />

Fraction mating pool:
<span class="method">
  {{ config.text_frac_mating_pool }}
</span>
<br />

Fraction elite:
<span class="method">
  {{ config.text_frac_elite }}
</span>
<br />

Mutation rate index:
<span class="method">
  {{ config.text_mut_rate_index }}
</span>
<br />

Mutation rate offset:
<span class="method">
  {{ config.text_mut_rate_offset }}
</span>
<br />

Mutation offset magnitude:
<span class="method">
  {{ config.text_mut_offset_magnitude }}
</span>
<br />

Local search:
<span class="method">
  {% if config.local_search %}
&#x2713;
{% else %}
No
{% endif %}
</span>
<br />
{% endif %}

{% if config.algorithm == "multi" %}
<br />
<span class="section">Multistar search parameters:</span>
<br />

Sizes:
<span class="method">
  {{ config.sol_sizes_string }}
</span>
<br />

Groups:
<span class="method">
  {{ config.group_string }}
</span>
<br />

Selections:
<span class="output">
  {{ config.grouping_string }}
</span>
<br />

Effort:
<span class="output">
  {{ config.multi_combinations }}
</span>
<br />

{% if config.multi_partitions != "" %}
Partititons:
<span class="output">
  {{ config.multi_partitions }}
</span>
<br />
{% endif %}
{% endif %}
