<table>
  {% for line in config.text_result[:2] %}
  <tr>
    {% for word in line %}
    <td class="resultsHead">{{ word }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  <td></td>
  {% for line in config.text_result[2:] %}
    <tr>
        {% if line == "" %}
        <td></td>
        {% else %}
        {% for word in line %}
        <td class="resultsRow">{{ word }}</td>
        {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% if config.n_database != "1" %}
<br />
<table>
    {% for line in config.text_db[:1] %}
    <tr>
        <td class="DBHeadNum">{{ line[0] }}</td>
	{% if config.text_db_n_columns == "3" %}
        <td class="DBHeadName">{{ line[1] }}</td>
	{% endif %}
        <td class="DBHeadText">{{ line[-1] }}</td>
    </tr>
    {% endfor %}
    {% for line in config.text_db[1:] %}
    <tr>
        <td class="DBNum">{{ line[0] }}</td>
	{% if config.text_db_n_columns == "3" %}
        <td class="DBName">{{ line[1] }}</td>
	{% endif %}
        <td class="DBText">{{ line[-1] }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}
