#!/bin/bash -eu
if [ "$EUID" -ne 0 ]; then
  echo "ERROR: please run as root"
  exit 1
fi

cat << EOF
================> Address record <================
Type: A
Host/Name: $(hostname)
Value: $(hostname -i | cut -d' ' -f 2)

================> SPF record <================
Type: TXT
Host/Name: $(hostname)
Value: "v=spf1 ip4:$(hostname -i | cut -d' ' -f 2) -all"

================> DKIM record <================
Type: TXT
Host/Name: default._domainkey.$(hostname)
Value: "$(cat /etc/opendkim/keys/default.txt | tr -d '[:space:]' | cut -d'(' -f2 | cut -d')' -f1 | tr -d '"' | column -t -s ';' -o '; ')"

================> DMARC record <================
Type: TXT
Host/Name: _dmarc.$(hostname)
Value: "v=DMARC1; p=quarantine;"

EOF
